@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wgh@300&display=swap");
*{

    margin: 0;
    padding:0;
    
    font-family: "Be Vietnam Pro", sans-serif;
}

:root{
    --bgorange:#e84949;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    width:1200px;
    margin:0 auto; /*center*/
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;

}
.name{
    margin-left: 13px;
    font-size: 46px;
    text-shadow: 2px 1.3px 2px  #07060c;
}


.logo-text{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0px rgb(106, 100, 190);
   text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    opacity: 0.9;
   
}
.nav-items{
    display: flex; /*one line*/
    gap:2rem; 
    padding:0 4rem; /*gap add*/
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  

}
a{
    text-decoration: none;
}
.nav-items div a{
    color:black;
}
.nav-items div:hover{
    
    text-shadow: 1px 0px 1px black;
  
   
}

    

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 5rem;
    margin: 4rem auto;
    padding:0 1rem;
    padding-bottom: 8rem;
}
.faded-text{

    user-select: none; /*koi user select nahe kr skta*/
    font-size: 5em;
    color:rgb(231,231,231);

    bottom:-17.5%;
    left: -0.9%;
    font-weight: 600;
    transition:all 3s;
}
.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem; 

}
.hero-section-heading{
    font-size: 25px;
    color:#343d68;
    font-weight: 500;
}
span{
    color:#4e45d5;
    font-weight: 700;

}
.hero-section-subheading{
    font-size: 45px;
    line-height: 45px;
}
.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

    .btn-pink{
        width: fit-content; /*imp*/
        background-color: var(--bgorange);
        padding: 0.8rem 2.3rem;
        color:white;
        font-size: 18px;
        box-shadow: 5px 5px 7px 0px #0000003f;
        position: relative;
      z-index: 1;
      cursor: pointer;
      font-weight: 500;
      border:solid 3px transparent;
      transition: all 0.5;
    }
    .btn-pink::before{
        content:"";
        background-color: #ffff;
        
        position:absolute;
          top:0;
          right:0;
          left:0;
          bottom:0;
          transform: scalex(0);
          transform-origin: right;
        transition: all 0.8s;
          z-index: -1;
    }
    .btn-pink:hover::before{
        transform: scalex(1) ;
    }
    .btn-pink:hover{
      border:solid 3px var(--bgorange);
      color:black;  
    }
    .hero-section-right{
        position: relative;

    }
    .absolute{
        position: absolute;
    }
    .user-img{
        
        padding: 1.8rem;
        filter: grayscale(1);
        transition: all 1s;
        animation:scaleimag 5s linear infinite;
    }

   
    .user-img{
        z-index: -1;
    }

    @keyframes scaleimag {
        0%{
            
       filter: grayscale(1);
       transform: scale(1);
       
        }
        50%{
         filter: grayscale(0);
         transform: scale(1.1);
         box-shadow: 3px 3px 10px black;
        
        }
        100%{
     filter: grayscale(1);
     transform: scale(1);
   
        }
        
    }
    .icon-dots{
       
        z-index: 1;
        bottom:-1rem ;
        right:0;
        animation: dotsanimain 5s  infinite;
        

    }
    @keyframes dotsanimain {
        0%{
           transform: translatey(0px);
        }
 50%{
    transform: translatey(-15px);
 }  
 100%{
    transform: translatey(0px);
 }      
    }
    .icon-cube{
        z-index: 1;
        top:-0.8em ;
        right:1em;
        animation: cubeanimain 3s  infinite;
        
    }
    @keyframes cubeanimain {
        0%{
         transform: rotatey(0deg) translatey(0px);
        }
        50%{
            transform: rotatey(180deg) translatey(-12px);
        }
        100%{
            transform: rotatey(360deg) translatey(0px);
        }
        
    }
    .icon-circle{
        z-index: 1;
        bottom:-1rem ;
    left:0;
        animation: circleanimain 5s  infinite;
        animation-timing-function: linear;

    }
    @keyframes circleanimain {
        
        50%{
            left:1%;
            bottom:2%;
        }
        
    }
    .icon-zigzak{
        z-index: 1;
        top:1.5em;
        left:-0.3em;
        animation: zigzakanimain 5s  infinite;
        animation-timing-function: ease-in;
    }
    @keyframes zigzakanimain {
        50%{
            top:2%;
            left:1%;
        }
        
    }
    .icon-plus{
        z-index: 1;
        top:-0.8rem;
        left: 50%;
        animation: iconanimain 5s  infinite;
        animation-timing-function: ease-in;
    }
    @keyframes iconanimain {
        50%{
            top:3%;
            left:48%;
        }
    }
    .project-section{
        background-color: rgb(231,231,231);
        margin-top:4rem;

    }
    .project-header{
        color: var(--bgorange);
        display: flex;
        justify-content: center;
        text-align: center;

        font-size: 90px;
        padding-top:30px;
    }
    .project-container{
        max-width: 1200px;
        margin:0 auto; /*center me place*/
        padding:3rem 0;

        display: flex;
        flex-direction: column;
        gap: 120px;

    }
    .project-card{
        width:80%;
        height: 500px;
        background-image: url(./projects/Project1.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        box-shadow: 0px 0px 40px #1f1f1f;
    }
   .project-card::after{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    z-index: 0;
   }
   .project-card::before{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:linear-gradient(45deg,#343d68,#343d68be,#343d687c);
 transform: scaleX(0);
 transform-origin: left;
 transition: all 0.6s;
 z-index: 1;
   }
   
    .project-card:hover::before{
        transform: scaleX(1);
    }
    .project-no{
        position: absolute;
        font-size: 200px;
        font-weight: 600;
        color:white;
        z-index: 9;
        display: none;
    }
    .project-card:hover .project-no{
        display: block;
       

    }
    
     .project-no-left{
        top:-45px;
        right:-40px;
    }
   .project-no-right{
    top:-45px;
    left:-40px;
   }

   .project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding:2em;
    bottom:20%;
    z-index: 5;
    gap:1em;
    transition: all 0.4s;
   }
   .project-content-left{
      left:10%;
   }
   .project-content-right{
   right:3%;
   top: 2%;
   }
 .project-skills-container{
    width:60%;
    display: flex;
    gap:10px;
    flex-wrap: wrap;

 }
 .project-skills{
    width:40px;
 }
 .project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
 }
.project-subheading{
    width:70%;
    font-size: 15px;
    font-style: italic;
}
.btn-grp{
    display: flex;
    gap:0.9rem;
    align-items: center;
    

}
.btn-project:hover{
    border:none;
}
.icon{
    cursor: pointer;
    color:white;
    font-size: 30px;
    transition:  0.4s;
}
.icon:hover{
    color:var(--bgorange);
}
.project-content:hover{
    transform: scale(1.1);
}
 

#project1{
     background-image: url(./portfolio_image/discord11.png);
}
#project2{
    margin-left:120px;
    background-image: url(./portfolio_image/parallax1.png);
}
#project3{
    background-image: url(./portfolio_image/clockanimation.png);
}
#project4{
    margin-left:120px;
    background-image: url(./portfolio_image/razorpay1.png);
}

.skills-container{
    position: relative;
    display: flex;
    padding:5rem;
    margin: 10rem 1rem;
    gap:30px;
}
.skill-container-left{
    width:50%;
    display: flex;
    flex-direction: column;
   

}
.skill-container-right{
    display: flex;
    flex-wrap: wrap;
    width:50%;
    position: relative;
    gap:1.9rem;
    justify-content: center;
}

.skill-faded-text{
    font-weight: 600;
    font-size: 12em;
    font-style: bold;
    color:rgb(231,231,231);
    bottom:-34%;
    right:-10%;
    user-select: none;
    position: absolute;
    overflow-y: hidden;
}

.blob-style{
    
    position: absolute;
    top:50%;
    left:50%;
   transform: translate(-50%,-50%);
    animation: blobanimate  3s infinite;
    z-index: -1;
  

}
@keyframes blobanimate {
    50%{
        top:54%;
        right:56%;
    }
    
}

.skills-logo{
width:80px;
transition: 0.5s;
}
.skills-logo:hover{
    transform: scale(1.2);
}

.skill-heading{
    font-size: 40px;
    font-style: 300;
    color: var(--bgorange);
    line-height: 50px;
    text-align: justify;
}
#caps{
    font-size: 90px;
    color:var(--bgorange);
}
.skill-subheading{
    margin-top:1rem;
    width:85%;
    text-align: justify;
}
.skill-subheading p{
    margin:15px 0;
}

.contactus-form-container{
    width:100%;
    background-color: rgb(231,231,231);

}
.contactus-heading{
    font-weight: 100;
    font-size: 3em;
    color: var(--bgorange);
    padding-top:2rem;
}
.contactus-subheading{
    font-weight: 100;
    font-size: 1.6rem;
    color:#a0a0a2;
    text-transform: capitalize;
}
.contactus-form-container{
    display: flex;
    margin-top:25px;
    align-items: center;
    justify-content: center;
}
#submit-btn1{
    width: 223px;
    color:#131316;
    padding-right: 74px;
    background-color: #4e45d5;
    box-shadow: 1px 2px 0.6pc;
   display: flex;
   justify-content: space-between;
}
#submit-btn1:hover{
    border-color: #4e45d5;
    background-color: white;
   
    color: black;
}
.form{
    display: flex;
    flex-direction: column;
    gap:30px;
    width:60%;
    margin:2rem 5rem;

}

.formfeild{
   
    width: 100%;
    height: 42px;
    padding:0 2rem;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border:none;
    margin-top:25px;

}

.formfeild-textarea{
    height: auto;
    padding-top:1rem;

}
 
#submit-btn{
    border:none;
    font-size: 1rem;
    margin:1rem 0;

}

#submit-btn:hover{

    transform: scale(0.9);
   
}
.btn1:hover{
    color: #07060c;
}

.submit-icon{
    padding:0 1rem;
    font-size: 1.5re4;
}
footer{
    position: relative;
    margin-top:-1px;
    background-color: #343d68;
    padding:3rem;
   
}
.icon{
    color:white;
    transition: 0.3s;

}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:1.2rem;
    justify-content: center;
    align-items: center;
   
}
.link-wrapper{
    display: flex;
    gap:1.3rem;
   
}
a{
    color:rgb(240, 226, 226);
    font-size: 1.1rem;
    transition: 0.5s;
}
.link-wrapper div a:hover{
 color: var(--bgorange);
}


.icon-wrapper{
    display: flex;
    gap:1rem;
    transition: 1s;
}
.icon:hover{
    transform: scale(1.2);
}
@media  screen and (max-width:1024px) {
    .hero-section{
        flex-direction: column;
        margin:4 0px auto;
        
      
    }
   .hero-section{
    padding-bottom: 30px;
   }
   .container{
    
    width: 550px;
    margin-top: 23px;
   }
   .logo-text{
    visibility: visible;
   }
   .navbar{
    visibility: hidden;
   }
   .btn-pink{
    width: 340px;
    text-align: center;
   }
   .hero-section-right{
   
    position: absolute;
  visibility: hidden;
    flex-direction: column;
   }

   .faded-text{
    visibility: hidden;
    
   }
#project2{
    margin-left: 40px;
    width: 520px;
    height: 310px;
    
}
#project4{
    margin-left: 40px;
    width: 520px;
    height: 320px;
}
#project1{
   
   width: 420px;
   height: 300px;
}
#project3{
    width: 420px;
    height: 300px;
}
.project-content{
    margin-left: -15%;
    bottom: -6%;
    width: 450px;
    

}
.project-card{
   margin-top: -24px;
}
.project-heading{
    font-size: 32px;
}
.projectbutton{
    width: 214px;
    height: 45px;
}

.skills-container{
    display: flex;
    flex-direction: column;
}
.skill-container-left{
  width: 80%;
  position: relative;
  left: -10%;


}

.skill-container-right{
    width: 80%;
    margin-top: 2rem;
   position: relative;
  left: -104px;
}
.skills-logo{
    width: 65px;
    margin: 1px;
}

.project-no{
    font-size: 80px;
    
}
.project-no-left{
     right: -4%;
     top: -6%;

}
.project-no-right{
    left: -8%;
    top: -6%;
}

.skill-faded-text{
    bottom: -16%;
    left: 17%;
    font-size: 120px;
   
}
  

.contactus-heading{
    padding-left: 44px;
}
 .contactus-subheading{
    padding-left: 44px;
    font-size: 19px;
 }
.footer-wrapper{
  position: relative;
  left: -80px;
  
}

.project-header{
    font-size: 43px;
}
.project-content-left{
    
    left:16%;
}
.project-content-right{
    right: -5%;
    top: -1%;
}
.formfeild{
 padding: 0 1rem;
}
a{
    font-size: 14px;
}
.icon{
    font-size: 19px;
}
}
   




